parameters:
    ignoreErrors:
        -
            message: "#^Unsafe usage of new static\\(\\)\\.$#"
            count: 1
            path: src/MailTemplateBuilder.php
        -
            message: "#^Cannot access property \\$identifier on Illuminate\\\\Database\\\\Eloquent\\\\Model\\|int\\|string\\.$#"
            count: 1
            path: src/Filament/Resources/MailTemplateResource/Pages/PreviewMailTemplate.php
        -
            message: "#^Cannot call method getMailTemplate\\(\\) on Illuminate\\\\Database\\\\Eloquent\\\\Model\\|int\\|string\\.$#"
            count: 1
            path: src/Filament/Resources/MailTemplateResource/Pages/PreviewMailTemplate.php
        -
            message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:getPlaceholderVariables\\(\\)\\.$#"
            count: 1
            path: src/Mail/MailableTemplate.php
        -
            identifier: trait.unused
            count: 1
            path: src/Models/Traits/HasMails.php
